<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }



    .container {

        width: 60%;
        height: 500px;
        margin-left: 20%;
        margin-top: 10%;
    }

    h1 {
        margin-left: 15%;
        font-size: 50px;
    }

    form {

        margin-left: 30%;
        margin-top: 10%;
    }

    form input {
        width: 50%;
        height: 40px;
        border-radius: 20px;
        font-size: x-large;
        text-align: center;
        margin-left: 5%;
    }

    .btn-grad {
        background-image: linear-gradient(to right, #43C6AC 0%, #F8FFAE 51%, #43C6AC 100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        margin-left: 90px;
    }

    .btn-grad:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

    h4 {
        margin-left: 50px;
    }
</style>

<body>
    <div class="container">
        <form action="/register" method="post">
            <h1>Register</h1>
            <input type="text" name="username" placeholder="username"><br><br>
            <input type="text" name="password" placeholder="password"><br><br>
            <button class="btn-grad" type="submit">Submit</button>
            <h4>Already have an account! <a href="/login">login</a></h4>
        </form>
    </div>


</body>

</html>